{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
    
    <div class="row">
    <div class="col-md-12">
    <h2>About us</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, quia aperiam! Quos repellat impedit quod eveniet provident distinctio ab, corrupti sequi hic veniam. Dolores officiis maxime cum saepe ducimus rem!</p>

</div>

    <div class="col-md-6">
        <h2>Vision</h2>
    
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus laudantium necessitatibus ratione nemo unde, accusantium minus consequatur illo hic facere obcaecati impedit dignissimos natus quidem, ab harum, officiis voluptas voluptatum.</p>
    </div>



    <div class="col-md-6">
        <h2>Mission</h2>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus laudantium necessitatibus ratione nemo unde, accusantium minus consequatur illo hic facere obcaecati impedit dignissimos natus quidem, ab harum, officiis voluptas voluptatum.</p>
    </div>

</div><!--product details end-->
<!--Statistic Start-->
<h2 class="mt-4">Statistic</h2>
<div class="row">
<div class="col-md-4 mt-4 shadow p-3">
    <h1 class="text-danger text-center shadow p-3">10000+</h1>
    <h3 class="text-center">Happy Constumers</h3>
</div>

<div class="col-md-4 mt-4 shadow p-3">
    <h1 class="text-danger text-center shadow p-3">20000+</h1>
    <h3 class="text-center">Orders Delivered</h3>
</div>

<div class="col-md-4 mt-4 shadow p-3">
    <h1 class="text-danger text-center shadow p-3">600+</h1>
    <h3 class="text-center">Products</h3>
</div>

{% endblock 'main' %}