{% load static %}
        
            <div class="row">
                <div class="col-md-4 bg-success p-3"> 
                    <h3>Address</h3>
                    <hr>
                    Second floor, landmark building<br>
                    near f.c.college<br>
                    pune-411002<br>
                    Maharashtra<br>
                    contact:7878787878           
                </div>

                <div class="col-md-4 bg-light p-2"> 
                    <h3>Quick Links</h3> 
                    <hr>


                    <h5><a href="/home" class="anchor"><strong>Home</strong></a><br></h5>
                    <h5><a href="/contact" class="anchor"><strong>Contact</strong></a><br></h5>
                    <h5><a href="/about" class="anchor"><strong>About</strong></a><br></h5>
                </div>
                <div class="col-md-4 bg-success p-2">  
                    <h3>Connect Us</h3>
                    <hr>

                    <h5><a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook"></i></a></h5>
                    <h5><a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram"></i></a></h5>
                    <h5><a href="https://www.linkedin.com/in/rohit-dambale-3054b2214/" target="_blank"><i class="bi bi-linkedin"></i></a></h5>
                    <h5><a href="https://www.twitter.com" target="_blank"><i class="bi bi-twitter"></i></a></h5>
                </div>
            </div>
       
        
        
    </div>

</body>
</html>